*
!Source/LyraGame/UI/MySettingScreen.h
!Source/LyraGame/UI/MySettingScreen.cpp
!Source/LyraGame/Settings/MySettingsLocal.h
!Source/LyraGame/Settings/MySettingsLocal.cpp
!Source/LyraGame/Settings/MyGameSettingRegistry_Debug.cpp
!Source/LyraGame/Settings/MyGameSettingRegistry.h
!Source/LyraGame/Settings/MyGameSettingRegistry.cpp
!Source/LyraGame/Settings/CustomSettings/MySettingValueDiscrete_GameplayTagBool.h
!Source/LyraGame/Settings/CustomSettings/MySettingValueDiscrete_GameplayTagBool.cpp
!Source/LyraGame/Player/MyPlayerController.h
!Source/LyraGame/Player/MyPlayerController.cpp
!Source/LyraGame/LyraGameplayTags.h
!Source/LyraGame/LyraGameplayTags.cpp
!Source/LyraGame/GameModes/LyraGameMode.cpp
!Source/LyraGame/Development/MyGameplayDebugSettings.h
!Source/LyraGame/Development/MyGameplayDebugSettings.cpp
!Source/LyraGame/AbilitySystem/Abilities/LyraAbilityCost_ItemTagStack.cpp
!Config/DefaultGame.ini
!Config/DefaultEngine.ini
